.content {
    padding-top: 1.2rem;
}

// module1
.module1 {
    height: 7.88rem;
    background: url('./image/banner.png') no-repeat center;
    background-size: cover;
    padding-top: 1.2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    z-index: -1;
    .bg {
        width: 3.91rem;
        height: 3.79rem;
        position: absolute;
        top: 0.89rem;
        right: 0.8rem;
    }
    .grade {
        color: #040002;
        line-height: 1.2rem;
        box-sizing: border-box;
        font-size: 1.6rem;
        font-weight: bold;
        span {
            font-size: 0.8rem;
            display: inline-block;
            transform: translateY(-0.1rem);
            letter-spacing: 1px;
        }
    }
    .descri {
        color: #040002;
        font-size: 0.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .progress-con {
        width: 100%;
        height: 0.59rem;
        position: relative;
        .progress {
            width: 100%;
            height: 100%;
            border-radius: 0.43rem;
            background: #FFFFFF;
            border-radius: 0.43rem;
            border: 0.04rem solid #000000;
            box-sizing: border-box;
            margin-bottom: 0.4rem;
            overflow: hidden;
            position: relative;
            .on-pro {
                width: 50%;
                height: 100%;
                background: #02FDC2;
                border-radius: 0.43rem 0rem 0rem 0.43rem;
                box-sizing: border-box;
                transition: all .8s;
            }
        }
        .tip {
            width: 0.8rem;
            height: 1.5rem;
            position: absolute;
            bottom: 0.04rem;
            left: -0.2rem;
            background: url('./image/run.png') no-repeat center;
            background-size: cover;
        }
    }
    .pass {
        color: #040002;
        font-size: 0.4rem;
        margin-top: 0.4rem;
        font-weight: bold;
        b {
            position: relative;
            &:after{
              content: '';
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 0.13rem;
              background: #02fdc2;
              z-index: -1;
            }
        }
    }
}

// module2
.module2 {
    margin-top: -1.2rem;
    background-color: #f8f9fb;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    box-sizing: border-box;
    .box {
        background-color: #fff;
        padding: 0.53rem 0.4rem;
        box-shadow: 0rem 0.07rem 0.27rem 0rem #edf2f8;
        border-radius: 0.2rem;
        box-sizing: border-box;
        .module2-p {
            color: #2f2f32;
            font-size: 0.37rem;
            margin-bottom: 0.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .module2-span {
            color: #63666d;
            font-weight: bold;
            float: right;
        }
    }
}

// module3
.module3 {
    .box {
        padding: 0.4rem 0.4rem 0.92rem;
        box-sizing: border-box;
        background: #ffffff;
        box-shadow: 0rem 0.07rem 0.27rem 0rem #edf2f8;
        border-radius: 0.2rem;
        .tip {
            color: #63666d;
            font-size: 0.35rem;
            line-height: 0.6rem;
            display: block;
            margin-bottom: 0.88rem;
        }
        .info {
            padding-left: 1.4rem;
            box-sizing: border-box;
            position: relative;
            .head-pic {
                width: 1.11rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
            p.name {
                color: #2f2f32;
                font-weight: bold;
                font-size: 0.37rem;
            }
        }
    }
}

// module4
.module4 {
  .productItem {
    width: 4.05rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 0.2rem;
    position: relative;
    margin-right: 0.21rem;
    &:last-child {
      margin-right: 0;
    }
    img.pic {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .course-name {
      color: #ffffff;
      font-size: 0.43rem;
      font-weight: bold;
      padding: 0 0.2rem;
      padding-right: 0.6rem;
      box-sizing: border-box;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 1.6rem;
      line-height: 1.8rem;
      left: 0;
      background: url('./image/蒙版.png') no-repeat center;
      background-size: cover;
      overflow: hidden; /*超出部分隐藏*/
      text-overflow: ellipsis; /* 超出部分显示省略号 */
      white-space: nowrap; /*规定段落中的文本不进行换行 */
      &:after {
        content: '';
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: 0.2rem;
        width: 0.37rem;
        height: 0.37rem;
        background: url('./image/ri.png') no-repeat center;
        background-size: cover;
      }
    }
  }
}

.btn {
    width: 100%;
    height: 1.47rem;
    line-height: 1.47rem;
    background: #fd9738;
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(253, 151, 56, 0.4);
    border-radius: 0.2rem;
    color: #ffffff;
    font-size: 0.43rem;
    font-weight: bold;
    text-align: center;
    .btn-span {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0.6rem;
            height: 0.6rem;
            left: -0.76rem;
            top: 50%;
            transform: translateY(-50%);
            background: url('./image/share.png') no-repeat center;
            background-size: cover;
        }
    }
}
